{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow">
            <div class="card-header bg-success text-white text-center">
                <h4>Criar Nova Conta</h4>
            </div>
            <div class="card-body p-4">
                <form method="POST">
                    <div class="mb-3">
                        <label for="email" class="form-label">Seu melhor E-mail</label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="exemplo@email.com" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Crie uma Senha</label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="********" required>
                    </div>
                    <button type="submit" class="btn btn-success w-100 btn-lg">Cadastrar</button>
                </form>
            </div>
            <div class="card-footer text-center py-3">
                <p class="mb-0">Já possui cadastro?</p>
                <a href="{{ url_for('login') }}" class="btn btn-outline-primary w-100 mt-2">Fazer Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}